*, *::before, *::after {
    box-sizing: border-box;
    }


h1 {
    text-decoration: underline;
    text-align: center;
    font-family: 'Indie Flower', cursive;
    font-size: 54px;
}

.input-usertext {
    width: 680px;
    height: 20px;
}

p
{
    text-align: center;
}

body {
    background-color: rgb(43, 42, 42);
    margin: 0px;
}

footer 
{
    background-color:gray; 
}

.div
{
    background-color: gray;
}

.div-footer
{
    margin-bottom: 60px;
    font-size: 24px;
    text-align: center;
}


.picture-left
{
    width: 300px;
    height: 200px;
    position: absolute; left: 6%;
}

.picture-right
{
    width: 300px;
    height: 200px;
    position: absolute; right: 6%;
    transform: scaleX(-1)
}

.picture-left-img
{
    width: 500px;
}

.picture-right-img
{
    width: 500px;
}

@media all and (max-width: 1700px){
    .picture-left-img
    {
        width: 300px;
        margin-top: 50px;
    }
    
    .picture-right-img
    {
        width: 300px;
        margin-top: 50px;
    }
}

@media all and (max-width: 1280px){
    .picture-left-img
    {
        display: none;
    }
    
    .picture-right-img
    {
        display: none;
    }
}


.chatbox {
    height: 700px;
    background-color: rgb(231, 231, 231);
    width: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: auto;
   }
   
@media all and (max-width: 700px)
{
    .chatbox
    {
        width: 100%;
    }
    
    .input-usertext 
    {
        width: 100%;
        height: 20px;
    }
}

   .question {
    width: 60%;
    background-color:rgb(143, 143, 143);
    align-self: flex-start;
    margin: 10px;
    border-radius: 5px;
   }
   
   .answer {
    width: 60%;
    background-color:rgb(72, 197, 72);
    align-self: flex-end;
    margin: 10px;
    border-radius: 5px;
    color:white;
   }
   
   .map {
    height: 200px;
    width: 60%;
    flex-shrink: 0;
    align-self: flex-end;
   }
