<!DOCTYPE html>
<html>
    <head>
        <!-- En-tête de la page -->
        <meta charset="utf-8" />
        <link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet">
        <link rel="stylesheet" href={{ url_for('static', filename='style.css') }}/>
        <title>GrandPy Bot</title>
    </head>

    <body>
            <div class="div">
                <h1>GrandPy vous souhaite la bienvenue</h1>
            </div>
        <br>
            <div class="picture-left">
                <img src={{url_for('static', filename='picture/robot.png')}}/>
            </div>

            <div class="picture-right">
                <img src={{url_for('static', filename='picture/robot.png')}}/>
            </div>

        <form id="user-text-form">
           <p>
             <label from="userText"></label>
             <input type="text" id="userText" class="input-usertext" name="userText" placeholder="Vous cherchez des informations sur un lieu ? demandé moi..">
             <br>
             <br>
             <input type="submit" value="Envoyé">
           </p> 
        </form>
        <div id="chatbox" class="chatbox"></div>
        <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBWLa9kNqrKKKE8jMU1xpXYzPOHpxvpHuQ">
    </script>
    <script type="text/javascript" src={{ url_for('static', filename='script.js') }}></script>
  </body>
  <footer>
    <div class="div-footer">
        <p>Merci pour la visite.</p>
    </div>
  </footer>
</html>
